@charset "utf-8";
/* CSS Document */

/*フォントの設定*/
html {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    color: #7F5B4C;
    font-size: 62.5%; /* 16px × 0.625 = 10px */
}

:root {
  /* スマホ～PCまで自然に伸縮する設定 */
  --h1-size: clamp(2.4rem, 5vw, 3.6rem); /* 24px〜36px */
  --h2-size: clamp(1.8rem, 3.5vw, 2.4rem); /* 18px〜24px */
  --p-size: clamp(1.4rem, 2.5vw, 1.6rem); /* 14px〜16px */
  --max-width: 1200px
}
    h1 {
      font-size: var(--h1-size);
    }

    h2 {
      font-size: var(--h2-size);
    }

    p {
      font-size: var(--p-size);
    }
    


/*aタグの設定*/
a:link{text-decoration: none;color:#7F5B4C;}/*普通の状態*/
a:visited {text-decoration: none;color:#7F5B4C;}/*訪問済み*/
a:hover{text-decoration: none;color:#e3a78d;}/*マウスが乗っている時　font sizeも変えられる*/
a:active {text-decoration: none;color: #BD8B75;}/*押した瞬間*/




/*ヘッダーロゴ*/

.k-logo a {
    position: absolute;
    z-index: 10000;
}


/*ハンバーガーメニュー*/

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 10;
    background-image: url(../img/head-img.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}             
header ul {
    /*最初はナビゲーションボタンは非表示*/
    display: none;
    list-style:none;
    padding: 10em 0 20em 0;
}
header li a{
    /* margin-right: 25rem; */
    margin-right: 15%;
    padding: 1em;
    font-size: 2.4rem;
    color: #7F5B4C;
    display: block;
    text-align: end;
    text-decoration: none;
}

.hamburger {
    position: fixed;
    top: 32px;
    right: 20px;
    cursor: pointer;
    width: 32px;
    height: 24px;
    z-index: 10;
}
.hamburger span {
    /*3本の線を作る*/
    transition: all .3s;
    position: absolute; 
    height: 2px;
    background-color:#BD8B75;
    width:100%;
    z-index: 10;
}
.hamburger span:nth-of-type(1) {
    /*上の線の位置*/
    top: 4px;
}
.hamburger span:nth-of-type(2) {
    /*真ん中の線の位置*/
    top: 12px;
}
.hamburger span:nth-of-type(3) {
    /*下の線の位置*/
    top: 20px;
}
.hamburger.open span:nth-of-type(1) {
    /*openのとき、上の線を右斜めにする*/
    top: 10px;
    /* right: 250px; */
    transform: translateY(6px) rotate(-33deg);
    background-color: #7F5B4C;
}
.hamburger.open span:nth-of-type(2) {
    /*真ん中の線を消す*/
    opacity: 0;
}
.hamburger.open span:nth-of-type(3) {
    /*下の線を左斜めにする*/
    top: 22px;
    /* right: 250px; */
    transform: translateY(-6px) rotate(33deg);
    background-color: #7F5B4C;
}

@media (max-width: 768px) {
    nav{
        background-image: none;
        background-color: #fff;
    }
    header li a{
        margin-right: 8rem;
    }
}

@media (max-width: 1580px) {
    header li a{
        margin-right: 14%;
    }
}
@media (max-width: 1500px) {
    header li a{
        margin-right: 10%;
    }
}
@media (max-width: 1400px) {
    header li a{
        margin-right: 9%;
    }
}
@media (max-width: 1300px) {
    header li a{
        margin-right: 8%;
    }
}
@media (max-width: 1200px) {
    header li a{
        margin-right: 7%;
    }
}
@media (max-width: 1100px) {
    nav{
        background-image: none;
        background-color: #fff;
    }
    header li a{
        margin-right: 8rem;
    }
}


/* --------------
　トップに戻る鳥
----------------- */
.o-bird img{
  width: 100px;
  margin-right: 10rem;
}
@media (max-width: 768px) {
  .o-bird img{
    width: 70px;
    margin-right: 5rem;
  }
}


/* --------
　フッター
---------- */
.o-footer {
    background-color: #BD8B75;
    color: #fff;
    width: 100%;
    max-width: 1920px;
}
.o-footer-df {
    display: flex;
    justify-content: space-between;
}
.o-footer-left{
    margin: 5rem 0 5rem 10rem;
}
.o-footer-left img {
    margin-bottom: 2rem;
}
.o-footer-df03{
    display: flex;
    margin-bottom: 1rem;
}
.o-footer-df03 img {
    margin-top: 1rem;
}
.o-footer-shop-info {
  display: grid;
  grid-template-columns: 6em 1fr; /* 左に項目、右に内容 */
  gap: 0.1em 0.3em; /* 行・列の間隔 */
  font-size: 1.6rem;
  line-height: 1.5;
}
.o-footer-shop-info div:nth-child(1),
.o-footer-shop-info div:nth-child(2) {
  grid-column: 1 / -1; /* 住所は2列にまたがる */
}

.o-footer-link {
    margin: 5rem 5rem 0 0 ;
}
.o-footer-link p {
    color: #fff;
    padding-bottom: 1.2em;
}
.o-footer-link p {

    text-decoration: none;
    transition: color 0.3s ease; /* 色変化をなめらかに */
}
.o-footer-link p:hover {
    color: #e3a78d; /* ホバー時の色（背景とコントラストのある色に） */
}
.o-footer-cl {
    margin: 33rem 2rem 1rem 0 ;
}
.o-footer-cl p{
  margin-top: 5rem;
  padding-bottom: 1rem;
  font-size: 13px;
}


@media (max-width: 768px) {
    .o-footer{
      width: 100%;
    }
    .o-footer-df {
        display: block;
        margin: 0 auto;
    }
    .o-footer-left {
        display: inline-block;
        padding-left: 0;
        margin: 5rem 5rem 0 5rem;
    }

    .o-footer-left p{
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .o-footer-left img {
        /* width: 100%; */
        height: auto;
    }
    .o-footer-df03{
        margin-left: 0;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .o-footer-df03 h2{
      margin-top: 0.4rem;
    }
    .o-footer-df03 img {
        width: 10%;
        height: auto;
    }
    .o-footer-shop-info {
        grid-template-columns: 1fr;
        gap: 0.5em;  
    }
    .o-footer-shop-info p {
        text-align: center; 
    }
    
    .o-footer-link {
        display: block;
        /* flex-direction: column;
        justify-content: center;
        text-align: center; */
        margin: 5rem 5rem 5rem 5rem;
        justify-content: flex-start;
        align-items: center;
    }
    .o-footer-link a{
        display: inline-block;
        margin: 0 auto;
    }
    .o-footer-link p{
        margin-right: 3rem;
    }
    .o-footer-cl {
        margin: 5rem 0 0 auto;
        padding-left: 5rem;
    }
    .o-footer-cl p {
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }
}

