@charset "utf-8";
/* CSS Document */
img{max-width: 100%;height:auto;}

/* div{
  border: 1px solid #000;
} */

/* フェードイン */
.fadeIn{
  opacity: 0;         /* 初期値は透明にしておく */
  transition: 0.5s;    /* 動くスピードを0.5秒に指定 */
  position: relative; /* 相対位置の設定 */
  top: 50px;
}
.fadeIn.active{
  opacity: 1;         /* 透明度を元に戻す */
  top: 0;
}


/*フォントの設定*/
html {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    color: #7F5B4C;
    font-size: 62.5%; /* 16px × 0.625 = 10px */
}

:root {
  /* スマホ～PCまで自然に伸縮する設定 */
  --h1-size: clamp(2.4rem, 5vw, 3.6rem); /* 24px〜36px */
  --h2-size: clamp(1.8rem, 3.5vw, 2.4rem); /* 18px〜24px */
  --p-size: clamp(1.4rem, 2.5vw, 1.6rem); /* 14px〜16px */
  --ul-size:clamp(1.4rem, 2.5vw, 1.6rem); /* 14px〜16px */
  --li-size:clamp(1.4rem, 2.5vw, 1.6rem); /* 14px〜16px */
  --max-width: 1200px
}
    h1 {
      font-size: var(--h1-size);
    }

    h2 {
      font-size: var(--h2-size);
    }

    p {
      font-size: var(--p-size);
    }

    ul{
      font-size: var(--ul-size);
    }

    li{
      font-size: var(--li-size);
    }

/* ここまで共通から引用 */

/* .o-foot-kari{
  width: 100%;
  height: 50rem;
  background-color: #BD8B75;
} */

/*フッター*/
.o-footer {
    background-color: #BD8B75;
    color: #fff;
    width: 100%;
    max-width: 1920px;
}
.o-footer-df {
    display: flex;
    justify-content: space-between;
}
.o-footer-left{
    margin: 5rem 0 5rem 10rem;
}
.o-footer-left img {
    margin-bottom: 2rem;
}
.o-footer-df03{
    display: flex;
    margin-bottom: 1rem;
}
.o-footer-df03 img {
    margin-top: 1rem;
}
.o-footer-shop-info {
  display: grid;
  grid-template-columns: 6em 1fr; /* 左に項目、右に内容 */
  gap: 0.1em 0.3em; /* 行・列の間隔 */
  font-size: 1.6rem;
  line-height: 1.5;
}
.o-footer-shop-info div:nth-child(1),
.o-footer-shop-info div:nth-child(2) {
  grid-column: 1 / -1; /* 住所は2列にまたがる */
}

.o-footer-link {
    margin: 5rem 5rem 0 0 ;
}
.o-footer-link p {
    color: #fff;
    padding-bottom: 1.2em;
}
.o-footer-link p {

    text-decoration: none;
    transition: color 0.3s ease; /* 色変化をなめらかに */
}
.o-footer-link p:hover {
    color: #e3a78d; /* ホバー時の色（背景とコントラストのある色に） */
}
.o-footer-cl {
    margin: 33rem 2rem 1rem 0 ;
}
.o-footer-cl p{
  margin-top: 5rem;
  padding-bottom: 1rem;
  font-size: 13px;
}


@media (max-width: 768px) {
    .o-footer{
      width: 100%;
    }
    .o-footer-df {
        display: block;
        margin: 0 auto;
    }
    .o-footer-left {
        display: inline-block;
        padding-left: 0;
        margin: 5rem 5rem 0 5rem;
    }

    .o-footer-left p{
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .o-footer-left img {
        /* width: 100%; */
        height: auto;
    }
    .o-footer-df03{
        margin-left: 0;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .o-footer-df03 h2{
      margin-top: 0.4rem;
    }
    .o-footer-df03 img {
        width: 10%;
        height: auto;
    }
    .o-footer-shop-info {
        grid-template-columns: 1fr;
        gap: 0.5em;  
    }
    .o-footer-shop-info p {
        text-align: center; 
    }
    
    .o-footer-link {
        display: block;
        /* flex-direction: column;
        justify-content: center;
        text-align: center; */
        margin: 5rem 5rem 5rem 5rem;
        justify-content: flex-start;
        align-items: center;
    }
    .o-footer-link a{
        display: inline-block;
        margin: 0 auto;
    }
    .o-footer-link p{
        margin-right: 3rem;
    }
    .o-footer-cl {
        margin: 5rem 0 0 auto;
        padding-left: 5rem;
    }
    .o-footer-cl p {
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }
}


/* -----------
　header ロゴ
------------- */

.o-logo a {
    position: absolute;
    z-index: 9;
    width: 15rem;
    padding: 2rem 0 0 2rem;
}
@media (max-width: 768px) {
  .o-logo a {
    width: 10rem;
    padding: 2rem 0 0 2rem;
  }
}


/* ---------
　商品一覧
----------- */

.o-midasi-ichiran{
    width: 100%;
    /* height: 750px; */
    padding: 8em;
    background-image: url(../img/o-midasi-haikei.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.slider{
margin-bottom: 3rem;
}


/* ここから動く矢印 */
.o-cp-arrows {
  position: relative;
  display: flex;
  height: 500px;/*画面いっぱいにする場合100vh*/
  justify-content: center;
  align-items: center;
}
.o-cp-arrows .o-cp-arrow {/*矢印を配置するベースの設定*/
  position: absolute;
  top: 50%;/*着地点(cp_arrowsの高さの50%)*/
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 10px;
  opacity: 0;
}
.o-cp-arrows .o-cp-arrow:first-child {
  animation: arrow-move08 2s ease-in-out infinite;
}
.o-cp-arrows .o-cp-arrow:nth-child(2)  {
  animation: arrow-move08 2s 1s ease-in-out infinite;
}
.o-cp-arrows .o-cp-arrow:before,
.o-cp-arrows .o-cp-arrow:after {/*矢印全体の設定*/
  position: absolute;
  content: '';
  top: 0;
  width: 30px;
  height: 3px;
  background: #7F5B4C;
}
.o-cp-arrows .o-cp-arrow:before {/*矢印左の線の位置と傾斜*/
  left: 3px;
  transform: rotate(30deg);
}
.o-cp-arrows .o-cp-arrow:after {/*矢印左の線の位置と傾斜*/
  right: 3px;
  transform: rotate(-30deg);
}
@keyframes arrow-move08 {
    0% { opacity: 0; top: 40%;/*スタート地点(o-cp-arrowsの高さの40%)*/}
   70% { opacity: 1;}
  100% { opacity: 0;}
}
/* ここまで動く矢印 */


.o-item1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item1-img{
  width: 30rem;
  margin-right: 9rem;
}
.o-item1-txt{
  width: 29%;
}
.o-item1-txt h2{
  margin-bottom: 1rem;
}
.o-nerikiri-txt{
  margin-bottom: 2.5rem;
}

.o-item2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item2-img{
  width: 45rem;
}
.o-item2-txt{
  width: 29%;
  margin-right: 9rem;
}
.o-item2-txt h2{
  margin-bottom: 1rem;
}
.o-2syudora-txt{
  margin-bottom: 2.5rem;
}

.o-item3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item3-img{
  width: 40rem;
  margin-right: 9rem;
}
.o-item3-txt{
  width: 29%;
}
.o-item3-txt h2{
  margin-bottom: 1rem;
}
.o-kosidora-txt{
  margin-bottom: 2.5rem;
}

.o-item4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item4-img{
  width: 35rem;
}
.o-item4-txt{
  width: 29%;
  margin-right: 9rem;
}
.o-item4-txt h2{
  margin-bottom: 1rem;
}
.o-kastera-txt{
  margin-bottom: 2.5rem;
}

.o-item5{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item5-img{
  width: 40rem;
  margin-right: 9rem;
}
.o-item5-txt{
  width: 29%;
}
.o-item5-txt h2{
  margin-bottom: 1rem;
}
.o-sakuramochi-txt{
  margin-bottom: 2.5rem;
}

.o-item6{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item6-img{
  width: 40rem;
}
.o-item6-txt{
  width: 29%;
  margin-right: 9rem;
}
.o-item6-txt h2{
  margin-bottom: 1rem;
}
.o-yomogi-txt{
  margin-bottom: 2.5rem;
}

.o-item7{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item7-img{
  width: 35rem;
  margin-right: 9rem;
}
.o-item7-txt{
  width: 29%;
}
.o-item7-txt h2{
  margin-bottom: 1rem;
}
.o-manju-txt{
  margin-bottom: 2.5rem;
}

.o-item8{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item8-img{
  width: 45rem;
}
.o-item8-txt{
  width: 29%;
  margin-right: 9rem;
}
.o-item8-txt h2{
  margin-bottom: 1rem;
}
.o-mamedaihuku-txt{
  margin-bottom: 2.5rem;
}

.o-item9{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item9-img{
  width: 45rem;
  margin-right: 9rem;
}
.o-item9-txt{
  width: 29%;
}
.o-item9-txt h2{
  margin-bottom: 1rem;
}
.o-ichigo-txt{
  margin-bottom: 2.5rem;
}

.o-item10{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem;
}
.o-item10-img{
  width: 45rem;
}
.o-item10-txt{
  width: 29%;
  margin-right: 9rem;
}
.o-item10-txt h2{
  margin-bottom: 1rem;
}
.o-kintuba-txt{
  margin-bottom: 2.5rem;
}

.o-contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}
.o-con-txt-box{
  margin-bottom: 8rem;
}
.o-con-txt1{
  margin-bottom: 5rem;
}


/* もっとみるボタン */

.view-more{
  border: 2px solid #BD8B75;
  color: #BD8B75;
  font-weight: 500;
  border-radius: 50px;
  background-color: #fff;
  padding: 10px 20px;
  width: fit-content;
}
.view-more:hover{
  border: 2px solid #e3a78d;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  background-color: #e3a78d;
  padding: 10px 20px;
  width: fit-content;
  transition: all 0.4s;
}

@media (max-width: 768px) {
  .o-midasi-ichiran{
    margin-bottom: 15rem;
  }
  .slider{
    margin-bottom: 0;
  }
  .o-cp-arrows{
    height: 40rem;
  }
  .o-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item1-img{
    width: 25rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item1-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .o-item1-txt h2{
    margin-bottom: 3rem;
  }
  .o-nerikiri-txt{
    margin-bottom: 2.5rem;
  }

  .o-item2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item2-img{
    width: 35rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item2-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .o-item2-txt h2{
    margin-bottom: 3rem;
  }
  .o-2syudora-txt{
    margin-bottom: 2.5rem;
  }
  
  .o-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item3-img{
    width: 30rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item3-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .o-item3-txt h2{
    margin-bottom: 3rem;
  }
  .o-kosidora-txt{
    margin-bottom: 2.5rem;
  }

  .o-item4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item4-img{
    width: 25rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item4-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .o-item4-txt h2{
    margin-bottom: 3rem;
  }
  .o-kastera-txt{
    margin-bottom: 2.5rem;
  }

  .o-item5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item5-img{
    width: 30rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item5-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .o-item5-txt h2{
    margin-bottom: 3rem;
  }
  .o-sakuramochi-txt{
    margin-bottom: 2.5rem;
  }

  .o-item6 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item6-img{
    width: 31rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item6-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .o-item6-txt h2{
    margin-bottom: 3rem;
  }
  .o-yomogi-txt{
    margin-bottom: 2.5rem;
  }

  .o-item7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item7-img{
    width: 27rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item7-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .o-item7-txt h2{
    margin-bottom: 3rem;
  }
  .o-manju-txt{
    margin-bottom: 2.5rem;
  }

  .o-item8 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item8-img{
    width: 35rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item8-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .o-item8-txt h2{
    margin-bottom: 3rem;
  }
  .o-mamedaihuku-txt{
    margin-bottom: 2.5rem;
  }

  .o-item9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item9-img{
    width: 32rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item9-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .o-item9-txt h2{
    margin-bottom: 3rem;
  }
  .o-ichigo-txt{
    margin-bottom: 2.5rem;
  }

  .o-item10 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-item10-img{
    width: 33rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .o-item10-txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .o-item10-txt h2{
    margin-bottom: 3rem;
  }
  .o-kintuba-txt{
    margin-bottom: 2.5rem;
  }

  .o-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-con-txt-box{
    width: 80%;
    margin-bottom: 8rem;
  }
  .o-con-txt1{
    margin-bottom: 5rem;
  }
}



/* ---------
　商品詳細
----------- */

.o-midasi-syousai{
    width: 100%;
    /* height: 750px; */
    padding: 8em;
    background-image: url(../img/o-midasi-haikei.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.o-setsumei{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}
.o-setsumei-txt{
  width: 42rem;
}
.o-setsumei-img{
  width: 40rem;
  margin-right: 10rem;
}

.o-spring{
  margin-bottom: 20rem;
}
.o-spring-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.o-spring-img{
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  gap: 10%;
}
.o-spring-img img{
  margin-bottom: 8rem;
}
.o-spring1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-spring2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-spring3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-summer{
  margin-bottom: 20rem;
}
.o-summer-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.o-summer-img{
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  gap: 10%;
}
.o-summer-img img{
  margin-bottom: 8rem;
}
.o-summer1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-summer2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-summer3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-autumn{
  margin-bottom: 20rem;
}
.o-autumn-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.o-autumn-img{
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  gap: 10%;
}
.o-autumn-img img{
  margin-bottom: 8rem;
}
.o-autumn1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-autumn2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-autumn3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-winter{
  margin-bottom: 20rem;
}
.o-winter-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.o-winter-img{
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  gap: 10%;
}
.o-winter-img img{
  margin-bottom: 8rem;
}
.o-winter1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}
.o-winter1 img{
  width: 650px;
}
.o-winter2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.o-winter3{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-winter3 img{
  width: 550px;
}

.o-bird{

  display: flex;
  justify-content: flex-end;
  margin-bottom: 10rem;
}


@media (max-width: 768px) {
  .o-midasi-syousai{
    margin-bottom: 15rem;
  }
  .o-setsumei{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  .o-setsumei-txt{
    width: 77%;
  }
  .o-setsumei-img{
    width: 35rem;
    margin-right: 0;
    margin-bottom: 5rem;
  }

  .o-spring{
    margin-bottom: 15rem;
  }
  .o-spring-img{
    width: 85%;
  }
  .o-summer{
    margin-bottom: 15rem;
  }
  .o-summer-img{
    width: 85%;
  }
  .o-autumn{
    margin-bottom: 15rem;
  }
  .o-autumn-img{
    width: 85%;
  }
  .o-winter{
    margin-bottom: 15rem;
  }
  .o-winter-img{
    width: 85%;
  }
}



/* -----------------
　プライバシーポリシー
----------------- */

.o-midasi-policy{
    width: 100%;
    /* height: 750px; */
    padding: 8em;
    background-image: url(../img/o-midasi-haikei.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}
.privacypolicy{
  text-align: center;
}
.o-policy-oya{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20rem;
}
.o-policy-02{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.o-policy-maintxt{
  margin-bottom: 2rem;
}
.o-policy-04{
  margin-bottom: 2rem;
}
.o-policy-05{
  margin-bottom: 2rem;
}
.o-policy-06{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: 5rem;
}
.o-policy-07{
  margin-bottom: 2rem;
}
.o-policy-08{
  margin-bottom: 10rem;
}

@media (max-width: 768px) {
  .o-midasi-policy{
    margin-bottom: 15rem;
  }
  .o-policy-oya{
    margin-bottom: 15rem;
  }
}



/* --------------
　トップに戻る鳥
----------------- */
.o-bird img{
  width: 100px;
  margin-right: 10rem;
}
@media (max-width: 768px) {
  .o-bird img{
    width: 70px;
    margin-right: 5rem;
  }
}